body {
	 font-size: 2vw;
	 font-family: sans-serif;
	 background-color: #404040;
	 margin: 0;
	 height: 100%;
	 padding: 0;
}

html{
	height: 100%;
	padding: 0;
	margin: 0;
}

.header {
	padding: 2%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 8%;
	background-color: #000000;
}

.content {
	position: absolute;;
	top: 16%;
	left: 0;
	right: 0;
	bottom: 14%;
	right: 15%;
	left: 15%;
	width: 70%;
	background-color: #FFFFFF;
	font-size: 12px;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 8%;
	background-color: #000000;
	color: 	#FFD700;
	text-align: center;
	padding: 2%;
}

.icon {
	height: 5vw;
	position: absolute;
	top: 1vw;
	right: 2vw;
}
.navi{
	height: 40px;
}

h1 {
	color: 	#FFD700;
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
	height: 100%;
	margin:0px;
	text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: 	#FFD700;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}